<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>C:\Users\a8ana\IdeaProjects\spring-teacher\cf.log</file>
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>C:\Users\a8ana\IdeaProjects\schoolapp-hibernate-jaxrs-cf22\cf-%d{dd-MM-yyyy}.log</fileNamePattern>-->
<!--        </rollingPolicy>-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
